
<h2>pizza</h2>


<div class="row">
    <div class="col s12 m3 ">
        <div class="card" >
            <div class="card-image">
                <img src="./images/aaa.jpg" alt ="val" width="202" height="200">
              
            </div>
            <div class="card-content">
                <p>Пицца 
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="./image/393749_1312101097948.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 2</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 3</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 4</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col s12 m3 ">
        <div class="card" >
            <div class="card-image">
                <img src="images/sample-1.jpg">
              
            </div>
            <div class="card-content">
                <p>Пицца 1  
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 2</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 3</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 4</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col s12 m3 ">
        <div class="card" >
            <div class="card-image">
                <img src="images/sample-1.jpg">
              
            </div>
            <div class="card-content">
                <p>Пицца 
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 2</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 3</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
            </div>
            <div class="card-content">
                <p>Пицца 4</p>
            </div>
        </div>
    </div>

</div>

