 
 <div class="row">
    <div class="col s12 m6">
      <div class="card purple darken-3">
        <div class="card-content white-text">
          <span class="card-title">Валера</span>
          <p>Охуенно сделали </p>

        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col s12 m6">
      <div class="card purple darken-3">
        <div class="card-content white-text">
          <span class="card-title">Леха</span>
          <p>Утшо </p>
        </div>
      </div>
    </div>
  </div>
            